* {
  margin: 0;
  padding: 0;
}
:root {
  --pri-color: white;
  --text-color: #271F30;
  --sec-color: #6D9F71;
  --sec-color2:#EDE580;
  --sec-color3: #CB48B7;
}

body {
  transition: all 0.5s ease;
}

body.dark-theme {
  --pri-color: #143642;
  --text-color: #DAD2D8;
  --sec-color: #7B5E7B;
  --sec-color2: rgb(100, 95, 95);
  --sec-color3: #FBF7F4;
  background-color: var(--pri-color);
  color: var(--text-color);
}

body.light-theme {
  background-color: var(--pri-color);
  color: var(--text-color);
  --sec-color: lightgrey;
}
#header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 10vh;
  width: 100%;
  background-color: var(--sec-color);
  /* border:1px solid navy;
    border-radius: 5px; */
}

#theme-toggle-switch {
  display: flex;
  font-family: sans-serif;
  justify-content: center;
  position: absolute;
  top: 20px;
  right: 20px;
  height: 20px;
  border-radius: 10px;
  cursor: pointer;
  z-index: 2;
  /* width: 20px; */
}

#theme-toggle-switch img {
  height: 100%;
  width: 20px;
}

/* Design of player main body starts */

#player-body {
  display: flex;
  font-family: sans-serif;
  justify-content: center;
  align-items: center;
  gap: 10px;
  height: 89vh;
  width: 100%;
  background-color: var(--sec-color);
}

.three-equal-parts {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 32%;
  height: 90%;
  background-color: var(--sec-color2);
  /* border: 2px solid var(--sec-color3); */
  border-radius: 5px;
  gap: 5px;
}

.lable-card {
  position: relative;
  margin-top: 5px;
  padding-left: 5px;
  width: 95%;
  display: flex;
  flex-shrink: 0;
  justify-content: flex-start;
  gap: 20px;
  align-items: center;
  height: 35px;
  border-radius: 5px;
  /* border: 1px solid var(--sec-color3); */
  background-color: var(--sec-color);
}
.lable-card:active {
  background-color: var(--sec-color3);
  color: var(--pri-color);
}
.lable-card-for-playlists {
  position: relative;
  margin-top: 5px;
  padding-left: 5px;
  width: 95%;
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  gap: 20px;
  align-items: center;
  height: 30px;
  border-radius: 5px;
  /* border: 1px solid navy; */
  background-color: var(--sec-color3);
  color: var(--pri-color);
}
.lable-card-for-playlists:hover {
  background-color: var(--text-color);
  color: var(--sec-color);
}
.lable-card-for-playlists-selected {
  background-color: var(--sec-color);
  color: var(--text-color);
}
.addtoplaylist{
  height: 40px;
  width: 150px;
  background-color: var(--sec-color3);
  color: var(--pri-color);
  cursor: pointer;
}
.playlists {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 95%;
  gap: 1px;
  overflow-y: scroll;
}

.dropdown-menu {
  display: none;
  position: relative;
  text-align: center;
  top: 70px;
  /* width: 350px;  */
  /* border: 2px solid red; */
  z-index: 2;
}
.dropdown-menu ul {
  position: relative;

  list-style: none;
  color: var(--pri-color);
}
.dropdown-menu ul li {
  padding-top: 10px;
  width: 120px;
  height: 30px;
  background-color: palevioletred;
  z-index: 2;
}
.dropdown-menu ul li:hover {
  background-color: rgb(121, 121, 230);
  font-weight: bold;
}
.d-block {
  display: flex;
  flex-direction: column;
}
.d-none {
  display: none;
}

.Btn {
  cursor: pointer;
  margin: 5px 0px;
  width: 100px;
  height: 25px;
  background-color: var(--sec-color3);
  color: var(--pri-color);
  border-radius: 10px;

}

/* song-card design */
.song-card {
  width: 95%;
  margin-top: 10px;
  padding-top: 10px;
  aspect-ratio: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  /* border: 2px solid red;
    border-radius: 70px; */
  /* background-image: url("/music.jpeg");
    background-size: cover;
    background-position: center; */
}

.song-card-now-playing {
  transform: scale(1.02);
  background-color: var(--sec-color3);
  color: var(--pri-color);
}
#image-container {
  width: 40%;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 5px solid var(--sec-color3);
}
#image-container img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

#song-range {
  -webkit-appearance: none;
  width: 80%;
  height: 5px;
  background-color: var(--sec-color3);
  border-radius: 2px;
  cursor: pointer;
}
#song-range::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: var(--sec-color3);
  border: 5px solid var(--pri-color);
  cursor: pointer;
}

#control-btns {
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#control-btns div:nth-child(2) {
  transform: scale(1.5);
  color: var(--sec-color3);
  background-color: var(--pri-color);
}
.ctrl-btns {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: var(--sec-color3);
  color: var(--pri-color);
  cursor: pointer;
}
#playlistNameInput {
  padding: 3px 3px;
  width: 150px;
  overflow-x: hidden;
}

.add-song-or-deleted-pl{
  /* display: flex; */
  /* display: none; */
  position: absolute;
  top:50%;
  left: 57%;
  height: 300px;
  width: 200px;
  flex-direction: column;
  align-items: center;
  padding-top: 10px;
  /* justify-content: ; */
  flex-shrink: 0;
  gap :5px;
  background-color: var(--sec-color);
  z-index: 4;
}
.add-song-or-deleted-pl2{
  /* display: flex; */
  /* display: none; */
  position: absolute;
  top:20%;
  left: 75%;
  height: 300px;
  width: 200px;
  flex-direction: column;
  align-items: center;
  padding-top: 10px;
  /* justify-content: ; */
  flex-shrink: 0;
  gap :5px;
  background-color: var(--sec-color);
  z-index: 4;
}
.add-song-or-deleted-pl .add-song-or-deleted-pl-item,
.add-song-or-deleted-pl2 .add-song-or-deleted-pl-item{
  height: 25px;
  font-weight: 550;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--sec-color2);
  border-radius: 10px;
}
.add-song-or-deleted-pl .add-song-or-deleted-pl-item:hover,
.add-song-or-deleted-pl2 .add-song-or-deleted-pl-item:hover{
  background-color: var(--sec-color3);
  cursor: pointer;
  color: var(--pri-color);
}

::-webkit-scrollbar {
  width: 6px;
  /* margin-left: 5px; */
}

::-webkit-scrollbar-track {
  background-color: var(--sec-color2);
}

::-webkit-scrollbar-thumb {
  background-color: var(--sec-color3);
  border-radius: 2px;
}
